.no-active{
    display: none;
}

.fixed-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #b9b9b9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
    border: 0;
}

.pulse{
    animation: pulse 1.5s infinite;
}

.fixed-icon img {
    filter: invert(1);
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(185, 185, 185, 0.8);
    }
    50% {
        box-shadow: 0 0 0 15px rgba(185, 185, 185, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(185, 185, 185, 0);
    }
}