{% load static %}

<a style="display: none;" href="tel:+380962228790" class="fixed-icon first-button">
    <img src="{% static 'pages/images/icons/telephone-call.png' %}" width="22" height="22">
</a>
<button style="display: none;" type="button" class="fixed-icon second-button" data-bs-toggle="modal" data-bs-target="#myModal">
    <img src="{% static 'pages/images/icons/message.png' %}" width="22" height="22">
</button>
<button style="z-index: 5" class="fixed-icon zero-button pulse">
    <img class="zero-button-img-1 active" src="{% static 'pages/images/icons/phone-call.png' %}" width="22" height="22">
    <img class="zero-button-img-2 no-active" src="{% static 'pages/images/icons/close.png' %}" width="15" height="15">
</button>