{% load static %}

<div class="form-container">
    <div class="left-part">
        <div class="title">{{ form_name }}</div>
        <div class="text">Зв'яжіться з нами, заповнивши форму або напишіть на <b>goldengruz534@gmail.com</b>.
            Також ви
            можете зателефонувати за номером <b><a href="tel:+380951515315">+38 (095) 151-53-15</a></b>.
        </div>
    </div>
    <div class="right-part">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ contact_form.name }}
            <div class="error-block">{{ contact_form.name.errors }}</div>
            {{ contact_form.email }}
            <div class="error-block">{{ contact_form.email.errors }}</div>
            {{ contact_form.phone_number }}
            <div class="error-block">{{ contact_form.phone_number.errors }}</div>
            {{ contact_form.message }}
            <div class="error-block">{{ contact_form.message.errors }}</div>
            <label class="form-field f-4">
                <input type="file" name="photos" id="id_photos" multiple="multiple" onchange="updateFileName(this)">
                <span>Натисність та завантажте фото</span>
            </label>
            <div class="error-block">{{ contact_form.photos.errors }}</div>
            <button class="custom-btn" type="submit" name="contact_form">Відправити</button>
        </form>
    </div>
</div>